<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
       
    </welcome-file-list>   
    <servlet>
        <servlet-name>RegisterItMember</servlet-name>
        <servlet-class>controller.RegisterItMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Procced</servlet-name>
        <servlet-class>controller.Login_Procced</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_Servlet</servlet-name>
        <servlet-class>controller.Save_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageGet</servlet-name>
        <servlet-class>controller.ImageGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Servlet</servlet-name>
        <servlet-class>controller.Update_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_Picture</servlet-name>
        <servlet-class>profile_controller.Save_Picture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save_PersonalInfo</servlet-name>
        <servlet-class>profile_controller.Save_PersonalInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change_Password</servlet-name>
        <servlet-class>profile_controller.Change_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Servlet</servlet-name>
        <servlet-class>controller.Delete_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterItMember</servlet-name>
        <url-pattern>/RegisterItMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Procced</servlet-name>
        <url-pattern>/Login_Procced</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_Servlet</servlet-name>
        <url-pattern>/Save_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageGet</servlet-name>
        <url-pattern>/ImageGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Servlet</servlet-name>
        <url-pattern>/Update_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_Picture</servlet-name>
        <url-pattern>/Save_Picture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save_PersonalInfo</servlet-name>
        <url-pattern>/Save_PersonalInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change_Password</servlet-name>
        <url-pattern>/Change_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Servlet</servlet-name>
        <url-pattern>/Delete_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
